.timeline h2{
	font-family: 'Open Sans' , sans-serif;
	color: #B091C3;

}

.timeline p{
	font-family: 'Open Sans', sans-serif;
	color: #000;

}

.timeline{
	text-align: center;
	vertical-align: middle;
}
