.top{
	text-align: center;
	background-image: url(../img/bg.jpg);
	
}

.top h1{
	font-family: 'Charline', cursive;
	color: #EC8CB9;
	padding-top:20rem;
}

.top h2{
	font-family: 'Open Sans', sans-serif;
	color: #B091C3;
	margin-top:-1rem;
}

.top h3{
	font-family: 'Open Sans', sans-serif;
	margin-top: 7rem;
	padding-bottom:20rem;
}

nav{

	content-align: right;
	
}