.top{
	text-align: center;
	 
}

.top h1{
	font-family: 'Charline', cursive;
}

.top h2{
	font-family: 'Open Sans', sans-serif;
}

.top h3{
	font-family: 'Open Sans', sans-serif;
}

nav{

	content-align: right;
	
}